body {
    background-color: black;
}

div {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    animation: move 3s linear;
    animation-iteration-count: infinite;
    position: relative;
    /* margin: 0 auto; */
    margin-left: 25vw;
}

@keyframes move {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 60vh;
        top: 0;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: brown;
    }

    50% {
        left: 60vh;
        top: 60vh;
        border-top-left-radius: 25%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 25%;
        background-color: chartreuse;
    }

    75% {
        top: 60vh;
        left: 0;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 25%;
        background-color: darkgoldenrod;
    }

    100% {
        left: 0;
        top: 0;
    }
}

header {
    width: 200px;
    height: 200px;
    margin: 10% auto;
    background-color: white;
    transition: all 1s linear;
}

header:hover {
    background-color: tomato;
    border-radius: 50%;
    transform: rotateY(180deg) skewY(45deg);
}